@model IEnumerable<LoanCompareSite.Models.EF.loandetail>
@{
    ViewBag.Title = "Index";
    int sn = 1;
}

<div class="inner-banner"></div>
<div class="container">
    <br/>
    <br/>
    <div class="title-section ">
        <h2 class="heading-agileinfo text-center pb-4">Admin <span>Page</span></h2>
    </div>


    <!-- Main Container Fluid -->


    <div class="col-separator box bg-gray">

        <h2 class="innerAll margin-none bg-white strong border-bottom text-center"><i class="fa fa-fw fa-calendar"></i> @DateTime.Now</h2>

        <div class="innerAll bg-white">


            <!-- Table -->
            <table class="table table-bordered table-striped "style="border: 1px solid; width: 70%; float: left;">
                <thead class="thead-dark">
                <tr>

                    <th>No.</th>
                    <th style="width: 150px;">Loan Provider</th>
                    <th style="width: 150px;">Loan Package</th>
                    <th>No. Of Visits</th>
                    <th>Unique Visits</th>
                   
                </tr>
                </thead>
                <tbody>

                    <!-- Item -->
                    @foreach (var provider in Model)
                    {


                        <tr>
                            <td>@sn</td>
                            <td>@provider.name</td>
                            <td>@provider.package</td>
                            <td><strong>5</strong></td>
                            <td>3</td>

                        </tr>
                        sn += 1;
                    }
                    <!-- // Item END -->



                </tbody>
            </table>
            <!-- // Table END --> 
                   
            
            @* summery card *@  
        <div class="container">
            <div class="card " style="border: 3px solid; width: 20%; float: right;">
                <div class="card-header text-center text-white bg-secondary mb-3">
                    Summary
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span>Most Subscribed Package:</span> Package_name </li>
                    <li class="list-group-item"><span>Most Visited Package:</span> Package_name </li>
                    <li class="list-group-item"><span>Total Traffic:</span> Traffic_Count </li>
                    <li class="list-group-item"><span>Avg. Amt. Requested</span> Amount </li>
                    <li class="list-group-item"><span>Most Duration </span> Duration </li>
                    
                </ul>
            </div>
        </div>
        </div>
        <div class="col-separator-h box"></div>


    </div>
    <div class="clearfix"></div>

    <!-- // Content END -->


</div>



