
@{
    ViewBag.Title = "Index";
}

<div class="inner-banner"></div>
<div class="container">
    <br/>
    <br/>
    <div class="title-section ">
        <h2 class="heading-agileinfo text-center pb-4">Admin <span>Page</span></h2>
    </div>


    <!-- Main Container Fluid -->


    <div class="col-separator box bg-gray">

        <h2 class="innerAll margin-none bg-white strong border-bottom text-center"><i class="fa fa-fw fa-calendar"></i> @DateTime.Now</h2>

        <div class="innerAll bg-white">


            <!-- Table -->
            <table class="table table-bordered table-striped "style="border: 1px solid; width: 70%; float: left;">
                <thead class="thead-dark">
                <tr>

                    <th>No.</th>
                    <th style="width: 150px;">Loan Provider</th>
                    <th>No. Of Visits</th>
                    <th>Unique Visits</th>
                    <th>Avg. Amt. Requested</th>
                    <th>Most Duration</th>
                </tr>
                </thead>
                <tbody>

                <!-- Item -->
                <tr>
                    <td>1</td>
                    <td>11:00</td>
                    <td><strong>Lorem Ipsum</strong><br /><small>Location: New York</small></td>
                    <td>0740000000</td>
                    <td>&euro;16</td>
                    <td>Friend</td>
                </tr>
                <!-- // Item END -->



                </tbody>
            </table>
            <!-- // Table END --> 
                   
            
            @* summery card *@  
        <div class="container">
            <div class="card " style="border: 3px solid; width: 20%; float: right;">
                <div class="card-header text-center text-white bg-secondary mb-3">
                    Summary
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        </div>
        <div class="col-separator-h box"></div>


    </div>
    <div class="clearfix"></div>

    <!-- // Content END -->


</div>



