
@{
    ViewBag.Title = "Index";
}

<div class="inner-banner"></div>
<div class="container">
    <br />
    <br />
    <div class="title-section ">
        <h2 class="heading-agileinfo text-center pb-4">Admin <span>Page</span></h2>
    </div>


    <!-- Main Container Fluid -->

    
            <div class="col-table">
                <div class="heading-buttons innerLR box">
                    <h4 class="margin-none innerTB pull-left">Bookings</h4>
                    <a href="" class="btn-xs pull-right btn btn-primary"><i class="fa fa-fw fa-plus"></i> Add record</a>
                    <div class="clearfix"></div>
                </div>
                <div class="col-separator-h"></div>
                <div class="col-table-row">
                    <div class="col-app col-unscrollable">
                        <div class="col-app">
                            <div class="col-table">

                                <div class="col-separator-h box"></div>

                                <div class="col-table-row">
                                    <div class="row-app">
                                        <div class="col-md-8">
                                            <div class="col-separator box bg-gray">

                                                <h5 class="innerAll margin-none bg-white strong border-bottom"><i class="fa fa-fw fa-calendar"></i> Monday, 10 June 2013</h5>

                                                <div class="innerAll bg-white">


                                                    <!-- Table -->
                                                    <table class="table table-bordered table-condensed table-striped table-primary table-vertical-center checkboxs">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 1%;" class="uniformjs"><input type="checkbox" /></th>
                                                                <th class="center">No.</th>
                                                                <th class="center">Time</th>
                                                                <th>Client</th>
                                                                <th class="center">Phone</th>
                                                                <th class="center">Amount</th>
                                                                <th class="center">Heard from</th>
                                                                <th class="center" style="width: 150px;">Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <!-- Item -->
                                                            <tr>
                                                                <td class="center uniformjs"></td>
                                                                <td class="center">1</td>
                                                                <td class="center">11:00</td>
                                                                <td><strong>Lorem Ipsum</strong><br /><small>Location: New York</small></td>
                                                                <td class="center">0740000000</td>
                                                                <td class="center">&euro;16</td>
                                                                <td class="center">Friend</td>
                                                                <td class="center">
                                                                    <div class="btn-group btn-group-sm">
                                                                        <a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a>
                                                                        <a href="#" class="btn btn-success"><i class="fa fa-pencil"></i></a>
                                                                        <a href="#" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <!-- // Item END -->
                                                            <!-- Item -->
                                                            <tr class="selectable selected">
                                                                <td class="center uniformjs"></td>
                                                                <td class="center">2</td>
                                                                <td class="center">12:00</td>
                                                                <td><strong>Lorem Ipsum</strong><br /><small>Location: Miami</small></td>
                                                                <td class="center">0740000000</td>
                                                                <td class="center">&euro;35</td>
                                                                <td class="center">Radio</td>
                                                                <td class="center">
                                                                    <div class="btn-group btn-group-sm">
                                                                        <a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a>
                                                                        <a href="#" class="btn btn-success"><i class="fa fa-pencil"></i></a>
                                                                        <a href="#" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <!-- // Item END -->
                                                            <!-- Item -->


                                                        </tbody>
                                                    </table>
                                                    <!-- // Table END -->

                                                </div>
                                                <div class="col-separator-h box"></div>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-separator col-separator-last box">

                                                <!-- Widget -->
                                                <div class="widget widget-3">

                                                    <!-- Widget heading -->
                                                    <div class="widget-head">
                                                        <h4 class="heading text-faded">Total amount</h4>
                                                    </div>
                                                    <!-- // Widget heading END -->

                                                    <div class="widget-body large">
                                                        &euro;15,368.50
                                                    </div>

                                                    <!-- Widget footer -->
                                                    <div class="widget-footer align-right">
                                                        <a href="#" class="glyphicons print"><i></i> Print</a>
                                                        <a href="#" class="glyphicons list"><i></i> View</a>
                                                    </div>
                                                    <!-- // Widget footer END -->

                                                </div>
                                                <!-- // Widget END -->

                                                <div class="col-separator-h box"></div>

                                                <!-- Widget -->
                                                <div class="widget widget-3">

                                                    <!-- Widget heading -->
                                                    <div class="widget-head">
                                                        <h4 class="heading text-faded">New clients</h4>
                                                    </div>
                                                    <!-- // Widget heading END -->

                                                    <div class="widget-body large">
                                                        21
                                                    </div>

                                                    <!-- Widget footer -->
                                                    <div class="widget-footer">
                                                        <a href="#" class="glyphicons print"><i></i> Print</a>
                                                        <a href="#" class="glyphicons list"><i></i> View</a>
                                                    </div>
                                                    <!-- // Widget footer END -->

                                                </div>
                                                <!-- // Widget END -->

                                                <div class="col-separator-h box"></div>

                                                <!-- Widget -->
                                                <div class="widget widget-3">

                                                    <!-- Widget heading -->
                                                    <div class="widget-head">
                                                        <h4 class="heading text-faded">Cancellations</h4>
                                                    </div>
                                                    <!-- // Widget heading END -->

                                                    <div class="widget-body large cancellations">
                                                        <div class="inline-block text-xlarge">4</div>
                                                        <span>
                                                            <span>Lost</span>
                                                            <span>&euro;89.00</span>
                                                        </span>
                                                    </div>

                                                    <!-- Widget footer -->
                                                    <div class="widget-footer align-center">
                                                        <a href="#" class="glyphicons print"><i></i> Print</a>
                                                        <a href="#" class="glyphicons list"><i></i> View</a>
                                                    </div>
                                                    <!-- // Widget footer END -->

                                                </div>
                                                <!-- // Widget END -->

                                                <div class="col-separator-h box"></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
       
    <!-- // Content END -->


</div>



