
@{
    ViewBag.Title = "Index";
}

<div class="inner-banner"></div>
<div class="container">
<br/>
<br/>
<div class="title-section ">
    <h2 class="heading-agileinfo text-center pb-4">Manage <span>User Roles</span></h2>
</div>



