

    <div class="inner-banner">
        <!-- header -->
        <!-- //header -->

    </div>
    <!-- //banner-text -->
    <section class="banner_bottom py-lg-5">
        <div class="container py-5">
            <div class="title-section pb-sm-5 pb-3">
                <h2 class="heading-agileinfo text-center pb-4">PAGE <span> NOT FOUND</span></h2>
            </div>
            <div class="inner_sec_info_wthree_agile">
                <div class="row help_full">
                    <div class="col-lg-6 banner_bottom_grid help">
                        <img src="~/Content/images/bg.jpg" alt=" " class="img-fluid">
                    </div>
                    <div class="col-lg-6 banner_bottom_left">
                        <hgroup>
                            <h1>Error.</h1>
                            <h2>An error occurred while processing your request.</h2>

                        </hgroup>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- js -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @* @RenderSection("scripts", required: false) *@

