@{
    ViewBag.Title = "Confirm Email";
}     
<br/>
<br/>
<br/>
<br/>
<h2 class="heading-agileinfo text-center pb-4">@ViewBag.Title <span> .</span></h2>
<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
