@{
    ViewBag.Title = "Login Failure";
}
       <br/>
       <br/>
       <br/>
       <hgroup>
	       <h2 class="heading-agileinfo text-center pb-4">@ViewBag.Title <span> .</span></h2>

           <h3 class="text-danger">Unsuccessful login with service.</h3>
       </hgroup>
