@{
    ViewBag.Title = "Forgot Password Confirmation";
}
       <br/>
       <br/>
       <br/>
       <hgroup class="title">
	       <h2 class="heading-agileinfo text-center pb-4">@ViewBag.Title <span> .</span></h2>

       </hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
