@{
	ViewBag.Title = "Reset password confirmation";
}
	  <br/>
	  <br/>
	  <br/>
	  <hgroup class="title">
		  <h2 class="heading-agileinfo text-center pb-4">@ViewBag.Title <span> .</span></h2>

	  </hgroup>
<div>
	<p>
		Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
	</p>
</div>
