
@{
    ViewBag.Title = "Pay";
}


<div class="inner-banner"></div>


<br/>
<div class="title-section pb-sm-5 pb-3">
    <h2 class="heading-agileinfo text-center pb-4">Subscription <span> Details</span></h2>
</div>

  
<div class="container">
    <div style="display: none" class="redirect-message">
        <div>
            <p><img src="@Url.Content("~/Content/images/loading.gif")" alt="Alternate Text" /> </p>
            <p>Please wait..</p>
            <p>You are been redirected to a secure payment system</p>
        </div>

    </div>

    <div class="col-md-1"></div>
    <div style="background: #fff; padding: 0 20px" class="col-md-3">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label">
                    First Name
                </label>
                <input type="text" name="firstName" id="firstName"  class="form-control" required />
            </div>
            <div class="form-group">
                <label class="control-label">
                    Last Name
                </label>
                <input type="text" name="lastName" id="lastName"  class="form-control" required/>
            </div>

            <div class="form-group">
                <label class="control-label">
                    Email
                </label>
                <input type="email" name="email" id="email" class="form-control" required/>
            </div>

            <div class="form-group">
                <label class="control-label">
                    Phone
                </label>
                <input type="text" name="phone" id="phone" class="form-control" required/>
            </div>

            <div class="form-group">
                <a id="payNowButton" href="20000" class="btn-success btn-lg payNowBtn">
                    Subscribe <span class="glyphicon glyphicon-play"></span>
                </a>
            </div>
        </div>
    </div>

</div>

@section Scripts{

    <script>

        $(function() {


            function InitTransaction(data) {
                return $.ajax({
                    type: "POST",
                    url: "@Url.Action("InitializePayment", "Subscription", new {area = ""})",
                    data: data,
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8'
                });
            }

            $("#payNowButton").click(function(e) {
                $(".redirect-message").show();
                e.preventDefault();
                var amnt = parseInt((parseInt($(this).attr("href")) * 100));

                var data = JSON.stringify({
                    firstName: $("#firstName").val(),
                    lastName: $("#lastName").val(),
                    email: $("#email").val(),
                    phone: $("#phone").val(),
                    amount: amnt
                });


                $.when(InitTransaction(data)).then(function(response) {


                    if (response.error == false) {

                        window.location.href = response.result.data.authorization_url;
                    } else {
                        $(".redirect-message").hide();
                    }

                }).fail(function() {
                    $(".redirect-message").hide()
                });

            });

        });

    </script>
}
