@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Pay";
}


<div class="inner-banner"></div>


<br />
<div class="title-section pb-sm-5 pb-3">
    <h2 class="heading-agileinfo text-center pb-4">Subscription <span> Details</span></h2>
</div>


<div class="container">
    <div align="center" style="display: none" class="redirect-message">
        <div>
            <p><img width="200" src="@Url.Content("~/Content/images/loading.gif")" alt="Alternate Text" /> </p>
            <p>Please wait..</p>
            <p>You are been redirected to a secure payment system</p>
        </div>

    </div>


    <br />


    <!-- content -->
    <div class="container-agille">
        <div class="formBox level-login">
            <div class="box boxShaddow"></div>

            <!-- login -->
            <div class="box loginBox">
                <h3>Fill your Details </h3>

                <div class="container">
                    <div class="form">
                        <div class="f_row-2 ">
                            <input type="email" value=@User.Identity.GetUserName().ToUpper() name="email" id="email" class="text-center form-control" disabled placeholder="Email" required />
                            <br />
                        </div>
                        <div class="f_row-2 ">
                            <input type="text" name="firstName" id="firstName" class="form-control  text-center" autofocus placeholder="First Name" required />
                        </div>
                        <br />
                        <div class="f_row-2 ">
                            <input type="text" name="lastName" id="lastName" class="form-control text-center" placeholder="Last Name" required />
                            <br />
                        </div>

                        <div class="f_row-2 last ">
                            <input type="text" name="phone" id="phone" class="form-control text-center" placeholder="Phone" required />
                        </div>
                        <br />

                        <div class="f_row-2 last text-center">
                            <a id="payNowButton" href=@string.Format("{0:0.00}", @Session["monthly-due"]) class="btn-success btn-lg payNowBtn">
                                Subscribe <span class="glyphicon glyphicon-play"></span>
                            </a>

                        </div>
                    </div>

                </div>




            </div>
            <br /> <br />
        </div>
        <!-- //content -->

        <hr />

       </div>


    </div>

    @section Scripts{

        <script>

        $(function() {


            function InitTransaction(data) {
                return $.ajax({
                    type: "POST",
                    url: "@Url.Action("InitializePayment", "Subscription", new {area = ""})",
                    data: data,
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8'
                });
            }

            $("#payNowButton").click(function(e) {
                $(".redirect-message").show();
                e.preventDefault();
                var amnt = parseInt((parseInt($(this).attr("href")) * 100));

                var data = JSON.stringify({
                    firstName: $("#firstName").val(),
                    lastName: $("#lastName").val(),
                    email: $("#email").val(),
                    phone: $("#phone").val(),
                    amount: amnt
                });


                $.when(InitTransaction(data)).then(function(response) {


                    if (response.error == false) {

                        window.location.href = response.result.data.authorization_url;
                    } else {
                        $(".redirect-message").hide();
                    }

                }).fail(function() {
                    $(".redirect-message").hide()
                });

            });

        });

        </script>
    }
