
@{
    ViewBag.Title = "Success";
}

<div class="inner-banner"></div>


<br/>
<div class="title-section pb-sm-5 pb-3">
    <h2 class="heading-agileinfo text-center pb-4">Transaction<span> Succeded!</span></h2>
</div>
    
<div class="container">
    <div class="text-center" style="margin-top: 45px">
        <h2>You've Successfully Subscribed.</h2>
        

    </div>

</div>