@{
    ViewBag.Title = "Error";
}

<div class="inner-banner"></div>


<br/>
<div class="title-section pb-sm-5 pb-3">
    <h2 class="heading-agileinfo text-center pb-4">Transaction<span> Failed!</span></h2>
</div>

<div class="container">
    <div style="margin-top: 40px">
        <h2>Error Processing Payment</h2>
        

    </div>

</div>