@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "View Roles";
}
<div class="inner-banner"></div>



<div class="container">
    <br /><br /><br />
    <div class="title-section">
        <h2 class="heading-agileinfo text-center ">View <span> Role Names</span></h2>
    </div>


    <div class="container-agille">
        <div class="formBox level-login">
            <div class="box boxShaddow"></div>

            <!-- login -->
            <div class="box loginBox text-center">
                <h3>View All Roles </h3>
                @Html.ActionLink("Create A New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUsers")

                <hr />

                <table id="viewroles" style="width: 80%;" class="table table-hover">
                    <thead>
                        <tr>
                            <td>Role name</td>
                            <td> Delete</td>
                            <td>Edit</td>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td> <strong>@role.Name</strong></td>
                            <td>
                                <span onclick="return confirm('Are you sure you want to Delete?')">
                                    <a href="/Roles/Delete?RoleName=@role.Name" class="delLink" style="color: red;">Delete</a>
                                </span>
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new {roleName = role.Name})
                            </td>

                        </tr>
                    }
                    </tbody>
                </table>



            </div>
          
        </div>
        <!-- //content -->

    </div>



</div>

<hr />
@section scripts{

    <script>
        $(document).ready(function() {
            $('#viewroles').DataTable({
                "paging": false,
                "searching": true,
                "info": false,

            });
        });

    </script>
}