@{
	ViewBag.Title = "Home Page";

}
<div class="banner">
	<div class="container">
		<!-- banner-text -->
		<div class="banner-text">
			<div class="slider-info">
				<h3 style="text-shadow: 2px 2px 3px black;">You dont have to keep suffering </h3>
				<h4>Let us give you that Loan you've always wanted!! </h4>
			</div>
		</div>
		<div class="banner-top pb-5">
			<form method="post" action="/detail/detail">
				<div class="row slider-bottom">
					<div class="col-md-3 slider-bottom-lft">

					</div>
					<div class="col-md-9 n-right-w3ls">
						<div class="row">
							<div class="col-md-4 form-group news-rt">
								<input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control input-lg text-center" name="amount" placeholder="How Much Do You Need?" min="500" max="100000000" autofocus required autocomplete="on">
							</div>
							<div class="col-md-4 form-group news-lt">
								<input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control input-lg text-center" name="duration" placeholder="For How Long?" min="1" max="120" required autocomplete="on">
							</div>
							<div class="col-md-4 form-group news-last">
								<div class="sbm-it">
									<div class="form-group">
										<input class="form-control submit text-uppercase" type="submit" value="Request !">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

</div>